* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Fraunces", serif;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  color: hsl(0deg, 0%, 100%);
  font-family: "Barlow", sans-serif;
}
@media only screen and (max-width: 720px) {
  nav {
    margin-top: 0.5rem;
    padding: 2rem;
  }
}
@media only screen and (min-width: 720px) {
  nav {
    margin-top: 1rem;
    padding: 2rem;
  }
}
@media only screen and (min-width: 720px) {
  nav #hamburger {
    display: none;
  }
}
nav #hamburger:hover {
  cursor: pointer;
}
nav ul {
  display: flex;
}
nav ul span {
  border-radius: 5rem;
}
nav ul span:hover {
  background-color: rgba(255, 255, 255, 0.473);
  cursor: pointer;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  nav ul span {
    display: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  nav ul span {
    display: none;
  }
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  nav ul span {
    padding: 0.5rem 1rem;
    margin: auto 0.5rem;
  }
}
@media only screen and (min-width: 960px) {
  nav ul span {
    padding: 1rem 2rem;
    margin: auto 1rem;
  }
}

.menu {
  position: absolute;
  color: hsl(232deg, 10%, 55%);
  font-family: "Barlow", sans-serif;
  background-color: white;
  width: 80vw;
  top: 12vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: center;
}
@media only screen and (min-width: 720px) {
  .menu {
    display: none;
  }
}
.menu .triShape {
  width: 0;
  height: 0;
  border-bottom: 2rem solid white;
  border-left: 2rem solid transparent;
  right: 0;
  position: absolute;
  top: -2rem;
}
.menu span {
  padding: 1rem 2rem;
  border-radius: 5rem;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  .menu span:active {
    background-color: yellow;
    font-family: "Fraunces", serif;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .menu span:hover {
    background-color: yellow;
    cursor: pointer;
    font-family: "Fraunces", serif;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
  }
}

#logo {
  width: 175px;
}

.div1 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 480px) {
  .div1 {
    background-image: url("../images/desktop/image-header.jpg");
  }
}
@media only screen and (max-width: 480px) {
  .div1 {
    background-image: url("../images/mobile/image-header.jpg");
    max-height: 85vh;
  }
}
.div1 h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: 800;
}
@media only screen and (max-width: 720px) {
  .div1 h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .div1 h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 960px) {
  .div1 h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .div1 img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.imageDivs {
  display: flex;
  width: 100%;
}
.imageDivs img {
  width: 50%;
}
.imageDivs div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.imageDivs div * {
  width: 65%;
  margin: 1rem 0;
}
.imageDivs div h2 {
  font-size: 3rem;
}
.imageDivs div p {
  color: hsl(210deg, 4%, 67%);
  font-family: "Barlow", sans-serif;
  line-height: 150%;
}
.imageDivs div .buttSpan {
  position: relative;
}
.imageDivs div .buttSpan .borderBott {
  opacity: 0.4;
}
.imageDivs div .buttSpan .borderBott-yellow {
  background-color: yellow;
}
.imageDivs div .buttSpan .borderBott-red {
  background-color: red;
}
.imageDivs div .buttSpan:hover .borderBott {
  opacity: 1;
}
.imageDivs div .butt {
  font-family: "Fraunces", serif;
  letter-spacing: 0.1rem;
  height: 0.5rem;
  margin-bottom: -100px;
  font-weight: bolder;
  z-index: 10;
}
.imageDivs div .butt:hover {
  cursor: pointer;
}
.imageDivs div .borderBott {
  height: 10px;
  width: 150px;
  left: -0.5rem;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  border-radius: 5px;
}

.backImgDivs {
  width: 50%;
  height: 80vh;
}
.backImgDivs div {
  margin-top: 50%;
  text-align: center;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.backImgDivs h3 {
  font-size: 2rem;
}
.backImgDivs p {
  font-family: "Barlow", sans-serif;
  margin-top: 2rem;
  line-height: 150%;
  font-weight: 600;
}

.graphic {
  background-image: url("../images//desktop/image-graphic-design.jpg");
  background-size: 100% auto;
  color: hsl(167deg, 40%, 24%);
}

.photography {
  background-image: url("../images/desktop/image-photography.jpg");
  background-size: 100% auto;
  color: hsl(198deg, 62%, 26%);
}

.testimonials {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.testimonials h4 {
  font-size: 1.5rem;
  color: hsl(210deg, 4%, 67%);
}
.testimonials .people {
  display: flex;
  width: 75%;
  height: 50%;
  justify-content: space-evenly;
}
.testimonials .person {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
}
.testimonials .person img {
  width: 25%;
  border-radius: 50%;
}
.testimonials .person p {
  color: hsl(213deg, 9%, 39%);
  text-align: center;
  line-height: 150%;
}
.testimonials .person .creds {
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: center;
}
.testimonials .person .name {
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
}
.testimonials .person .desgn {
  color: hsl(210deg, 4%, 67%);
  font-size: 14px;
}

.imageRow {
  width: 100vw;
  padding: 0px;
  display: flex;
}
.imageRow img {
  max-width: 25%;
  margin: 0px;
}

footer {
  background-color: hsl(168deg, 34%, 41%);
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #256c5c;
}

#logo2 {
  font-size: 2rem;
  font-weight: 900;
}

.links, .icons {
  font-family: "Barlow", sans-serif;
  width: 25%;
  display: flex;
  flex-direction: "";
  justify-content: space-evenly;
  align-items: center;
}
.links *:hover, .icons *:hover {
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */