@import 'breakpoints';

$barlow : 'Barlow', sans-serif;
$fraunces : 'Fraunces', serif;
$grayishBlue :hsl(210, 4%, 67%);
$veryDarkGrayishBlue:  hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$desaturatedBlue: hsl(212, 27%, 19%);
$darkModerateCyan: hsl(168, 34%, 41%);

@mixin flexBox($direction: row, $justifyContent: flex-start, $alignItems: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: $fraunces;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
nav{
    @include flexBox(row, space-between, center);
    height: 10vh;
    width: 100%;
    position: absolute;
    @include xs-sm-screen{
        margin-top: 0.5rem;
        padding: 1rem;
    }
    @include sm-md-screen{
        margin-top: 0.5rem;
        padding: 1rem;
    }
    @include md-lg-screen{
        margin-top: 1rem;
        padding: 2rem;
    }
    @include lg-xl-screen{
        margin-top: 1rem;
        padding: 2rem;
    }
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);
    font-family: $barlow;
    #hamburger{
        display: none;
        @include xs-sm-screen{
            display: block;
        }
        @include sm-md-screen{
            display: block;
        }
        &:hover{
            cursor: pointer;
        }
    }
    ul{
        display: flex;
        span{
            &:hover{
                background-color: rgba(255, 255, 255, 0.473);
                cursor: pointer;
                // font-family: 'Times New Roman', sans-serif;
            }
            @include xs-sm-screen{
                display: none;
            }
            @include sm-md-screen{
                display: none;
            }
            @include md-lg-screen{
                padding: 0.5rem 1rem;
                margin: auto 0.5rem;
            }
            @include lg-xl-screen{
                padding: 1rem 2rem;
                margin: auto 1rem;
            }
            border-radius: 5rem;
        }
    }
}
#logo{
    width: 175px;
}
.div1{
    background-image:  url("../images/desktop/image-header.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    @include flexBox(row, center, center);
    h1{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 4.5rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        font-weight: 800;
    }
}
.imageDivs{
    display: flex;
    width: 100%;
    img{
        width: 50%;
    }
    div{
        width: 50%;
        @include flexBox(column, center, center);
        text-align: left;
        & *{
            width: 65%;
            margin: 1rem 0;
        }
        h2{
            font-size: 3rem;
        }
        p{
            color: hsl(210, 4%, 67%);
            font-family: $barlow;
            line-height: 150%;
        }
        .buttSpan{
            position: relative;
            .borderBott{
                opacity: 0.4;
            }
            .borderBott-yellow{
                background-color: yellow;
            }
            .borderBott-red{
                background-color: red;
            }
            &:hover{
                .borderBott{
                    opacity: 1;
                }
            }
        }
        .butt{
            font-family: $fraunces;
            letter-spacing: 0.1rem;
            height: 0.5rem;
            margin-bottom: -100px;
            font-weight: bolder;
            &:hover{
                cursor: pointer;
            }
            z-index: 10;
        }
        .borderBott{
            height: 10px;
            width: 150px;
            left: -0.5rem;
            position: absolute;
            z-index: -1;
            opacity: 0.8;
            border-radius: 5px;
        }
    }
}
.backImgDivs{
    width: 50%;
    height: 80vh;
    & div{
        margin-top: 50%;
        text-align: center;
        width: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        @include flexBox(column, space-around, center);
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-family: $barlow;
        margin-top: 2rem;
        line-height: 150%;
        font-weight: 600;
    }
}
.graphic{
    background-image: url("../images//desktop/image-graphic-design.jpg");
    background-size: 100% auto;
    color: hsl(167, 40%, 24%);
}
.photography{
    background-image: url("../images/desktop/image-photography.jpg");
    background-size: 100% auto;
    color: hsl(198, 62%, 26%);
}
.testimonials{
    width: 100%;
    height: 100vh;
    @include flexBox(column, space-evenly, center);
    h4{
        font-size: 1.5rem;
        color: $grayishBlue;
    }
    .people{
        display: flex;
        width: 75%;
        height: 50%;
        justify-content: space-evenly;
    }
    .person{
        @include flexBox(column, space-between, center);
        width: 20vw;
        img{
            width: 25%;
            border-radius: 50%;
        }
        p{
            color:  $veryDarkGrayishBlue;
            text-align: center;
            line-height: 150%;
        }
        .creds{
            @include flexBox(column, '', center);
        }
        .name{
            color: $desaturatedBlue;
            font-weight: 900;
        }
        .desgn{
            color: $grayishBlue;
            font-size: 14px;
        }
    }
}

.imageRow{
    width: 100vw;
    padding: 0px;
    display: flex;
    img{
        max-width: 25%;
        margin: 0px;

    }
}
footer{
    background-color: $darkModerateCyan;
    height: 40vh;
    width: 100vw;
    @include flexBox(column, space-evenly, center);
    color:#256c5c;
}
#logo2{
    font-size: 2rem;
    font-weight: 900;
} 
.links, .icons{
    font-family: $barlow;
    width: 25%;
    @include flexBox('', space-evenly, center);
    *{
        &:hover{
            color: white;
            cursor: pointer;
        }
    }
}